@import url("https://fonts.googleapis.com/css?family=Grand+Hotel:400|Poppins:500,600");

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.leftcolumn {
  float: left;
  width: 50%;
}

.rightcolumn {
  float: left;
  width: 50%;
  padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding-bottom: 20px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body{
    background-color: #cccccc;
    margin :0;
}

.main {
  background-image: url("../images/Backround.png");
  background-size: cover;
  background-color: #cccccc;
  margin :0;
}

.title {
    font-family: 'Grand Hotel';
    color: white;
    font-size: 60px;
    text-align: center;
    font-weight: 500;
}

.isi {
    padding-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

.cardleft {
  padding: 20px;
  margin-top: 20px;
  margin-left: 380px;
  border: 1px solid #ccc;
  background-color: #ffa49e;
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
}

.cardright {
  margin-top: 20px;
  margin-right: 380px;
  border: 1px solid #ccc;
  background-color: #ffa49e;
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
}

ul.navbar {
  align-items: flex-end;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4.35px 1.81px 36.25px #5c54542e;
  display: flex;
  list-style-type: none;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: poppins;
}

ul.navbar li a:hover:not(.active) {
    background-color: rgb(0, 191, 255);
}

ul.navbar li a.active {
    background-color: white;
    float: right;
}

ul.navbar li.center {
    float: center;
    background-color: white;
    margin-left: auto;
}


ul.navbar li.right {
    float: right;
    background-color: white;
    margin-left: auto;
}

.footer {
    position: fixed;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: rgb(0, 0, 0);
 }

 .textSponsor{
    font-family: 'Poppins';
    color: rgb(85, 85, 85);
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    padding-top: auto;
    padding-bottom: auto;
 }


 .sponsor{
     list-style-type: none;
 }

 li{
     display: inline-block;
     align-items:left;
     margin-top: auto;
     margin-bottom: auto;
     margin-left: 0;
     padding-left: 0;
 }
 
 .bottomrow {
   margin-top: 50px;
  float: left;
  width: 100%;
  margin-bottom: 50px;
 }
 
 .bottomcard {
  margin-left: 380px;
  margin-right: 380px;
  border: 1px solid #ccc;
  background-color: #ffa49e;
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
 }

 .gambar {
  height: 300px;
 }

 .kiri {
  width: auto;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
 }

 .center {
  width: auto;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.columnkiri {
  float: left;
  height: 300px;
  width: 400px;
  overflow: hidden;
  margin-right: 10px;
}

.topper {
  height: 280px;
}